@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
@import url("./styles/nav.css");
@import url("./styles/hero.css");
@import url("./styles/content.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Epilogue", sans-serif;
}

:root {
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}

body {
	min-height: 100vh;
	display: grid;
	justify-content: center;
	grid-template-rows: auto 1fr auto;
}

.main {
	display: flex;
	flex-direction: column;
}

/* || FOOTER */

.footer {
	font-size: 0.5em;
	text-align: center;
}
.footer a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 500px) {
	.main {
		display: grid;
		grid-template-columns: 60% 40%;
		padding: 1em 10%;
		height: min-content;
		max-width: 90em;
	}
	.content {
		flex-basis: 60%;
	}

	.hero {
		flex-basis: 40%;
	}
}
