.nav {
	padding: 2ch;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.nav__logo {
	margin-top: 1ch;
}

.nav__checkbox {
	display: none;
}

.nav__hamburger {
	width: 3ch;
	height: 3ch;
	display: block;
	background-image: url("../images/icon-menu.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	user-select: none;
	z-index: 1;
}

.nav__checkbox:checked ~ .nav__hamburger {
	background-image: url("../images/icon-close-menu.svg");
}

.nav__checkbox:not(:checked) ~ .nav__menu-container {
	display: none;
}

.nav__menu-container {
	position: absolute;
	right: 0;
	top: 0;
	width: 25ch;
	height: 100vh;
	background-color: var(--almost-white);
	padding: 8ch 2ch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5ch;
}

.nav__item {
	color: var(--medium-gray);
	text-decoration: none;
	cursor: pointer;
}

.nav__summary,
.nav__menu-item {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2ch;
}

.nav__menu {
	display: flex;
	flex-direction: column;
	padding: 3ch;
	gap: 3ch;
}

.nav__icon {
	width: 2ch;
}

[open] .nav__summary > .nav__arrow {
	transform: rotate(180deg);
}

.nav__item--break {
	margin-top: 2ch;
}

.nav__button {
	align-self: center;
	font-size: 0.9em;
}

.nav__button--outline {
	width: 100%;
	padding: 1.5ch;
	border-radius: 1.5ch;
	text-align: center;
	outline: 2px solid var(--medium-gray);
}

@media screen and (min-width: 750px) {
	.nav__checkbox,
	.nav__hamburger {
		display: none;
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		padding: 2ch 1em 4ch 1em;
		z-index: 1;
	}

	.nav__menu-container {
		display: flex !important;
		position: unset;
		height: unset;
		background-color: unset;
		padding: unset;
		width: 100%;
		flex-direction: row;
		align-items: center;
		margin-left: 5ch;
		gap: 5ch;
	}

	.nav__item {
		width: max-content;
		position: relative;
	}

	.nav__item--break {
		margin-top: unset;
		margin-left: auto;
	}

	.nav__button--outline {
		width: unset;
	}

	.nav__menu {
		position: absolute;
		width: max-content;
		right: 0;
		top: 4ch;
		background-color: white;
		border-radius: 1.5ch;
		box-shadow: 0 0 2em 0 rgb(0, 0, 0, 0.25);
	}
}
